<div class="home-view">
	<form ng-submit="addSuggestion()" class="well">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="add a suggestion" ng-model="title"></input>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Suggest</button>
			</span>
		</div>
	</form>

	<div class="well">
		<div ng-if="!suggestions.length"><p>There aren't any suggestions yet!</p></div>
		<div class="suggestion panel panel-info" ng-repeat="suggestion in suggestions">
			<div class="panel-heading">
				<span class="panel-title">{{ suggestion.title }}</span>
				<span class="date pull-right">{{ suggestion.date | date: 'MMM d, y @ h:mma' }}</span>
			</div>
			<div class="panel-body">
				<button type="button" class="btn btn-success" ng-click="upVote($index)">
					<span class="glyphicon glyphicon-thumbs-up"></span> 
					{{suggestion.upvotes}}
				</button>
				<button type="button" class="btn btn-danger" ng-click="downVote($index)">
					<span class="glyphicon glyphicon-thumbs-down"></span> 
					{{suggestion.downvotes}}
					</button>
				<a type="button" class="btn btn-info" href="#/suggestion/{{$index}}">
					<span class="glyphicon glyphicon-comment"></span> 
					{{ suggestion.comments.length }}
				</a>
			</div>
		</div>
	</div>
</div>